@page "/auto"
@inject UserHttpClient UserHttpClient;
@attribute [Authorize]

@using DemoCovadis.Shared.Dtos;
@using DemoCovadis.Shared.Clients;
@using DemoCovadis.Blazor.Components
@using Microsoft.AspNetCore.Authorization


<PageTitle>Home</PageTitle>
<PageHeader><h5>Auto</h5></PageHeader>

@code {

}